body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image: url("../images/emigrants3.png");

}

#main {
    padding-top: 50px;
    z-index: 1;
}

h2 {
    padding-top: 5px;
    align-content: center;
    z-index: 1;
    color: white;
}

.container {
    background: inherit;
    border-radius: 25px;
}

.container:before {
    background: inherit;
    content: '';
    position: absolute;
    top: 100px;
    left: 50px;
    right: 50px;
    bottom: 250px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .05);
    filter: blur(5px);
}

.questionBox {
    color: white;
}

.list-group-item {
    color: white;
    background-color: rgba(255, 255, 255, 0.2)
}


#time-Remaining {
    padding-top: 10px;
    color: white;
}

#buttonDiv {
    padding-top: 25px;
}

#results {
    align-content: center;
    clear: both;
    margin: 0 auto;
    position: relative;
    color: white;
}

.result {
    position: block;
    margin: 20px;

}

button {
    width: 125px;
    height: 50px;
}

.question {
    margin: 20px;
}